html, body {
  font-family: 'Noto Sans', sans-serif;
  height: 100%;
  margin: 0;
  overflow-y: hidden;
  padding: 0;
  width: 100%;
}

#footer {
  background-color: green;
  bottom: 0;
  height: 50px;
  margin: auto;
  position: fixed;
  text-align: center;
  width: 100%;
}
#header {
  background-color: red;
  height: 75px;
  margin: auto;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}
#messageContainer {
  background-color: blue;
  bottom: 0;
  font-size: 16px;
  position: absolute;
  width: 100%;
}
#messageField {
  font-size: 20px;
  transform: translateY(35%);
  width: 90%;
}
#nameField {
  font-size: 20px;
  transform: translateY(35%);
  width: 8%;
}
#scrollWrapper {
  background-color: brown;
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  overflow-y: auto;
  position: relative;
  vertical-align: baseline;
  width: 100%;
  z-index: -1;
}
#submit {
    display: none;
}